@model LabDeskApplication.Models.TestValues

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestValues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogInitialStyle.Sample)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogInitialStyle.Sample)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupResult.ResultName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupResult.ResultName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestApproach.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestApproach.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestValues01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestValues01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestValues02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestValues02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestValues03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestValues03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestValues04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestValues04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestValues05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestValues05)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestNameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
