@model LabDeskApplication.Models.Log03InitialStyle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log Initial Style's Data (Part 3)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogInitialArticle.StyleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogInitialArticle.StyleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupArticleType.ArticleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupArticleType.ArticleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupColour.ColourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupColour.ColourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupResult.ResultName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupResult.ResultName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetupUserInfo.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetupUserInfo.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sample)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sample)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StyleID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back (SRF's Style)", "Index", null, new { @class = "btn btn-info" })
</p>
