@model IEnumerable<LabDeskApplication.Models.SetupVendor>

@{
    ViewBag.Title = "Index";
}

<h2>New Vendor's Index</h2>

<p>
    @Html.ActionLink("Add Vendor", "Create", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Initial Log - Vendor", "Index", "Log01InitialVendor", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorName)
        </th>
        <th>Tasks</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VendorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendorID })
        </td>
    </tr>
}

</table>
