@model IEnumerable<LabDeskApplication.Models.SetupResult>

@{
    ViewBag.Title = "Index";
}

<h2>Result's Setup</h2>

<p>
    @Html.ActionLink("Create Result", "Create", null, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Test's Values - (Result Log)", "Index", "TestValues", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResultID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultName)
        </th>
        <th>Tasks</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResultID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResultID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResultID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResultID })
        </td>
    </tr>
}

</table>
