<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almirah - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("J. Lab Services", "FetchData", "Fetch", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.AuthenticationType != "")
                        {
                            <li>@Html.ActionLink("Home", "FetchData", "Fetch")</li>
                            <li>@Html.ActionLink("SRF Log", "Index", "Log01InitialVendor")</li>
                            <li>@Html.ActionLink("Results Log", "Index", "TestValues")</li>
                            <li>@Html.ActionLink("New Test", "Index", "TestApproaches")</li>
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="color:black;">
                @if (User.Identity.AuthenticationType == "")
                {
                    <p style="text-align:center">Powered by <b>IT Department</b> - U&amp;I Garments (Private) limited.</p>
                }
                else
                {
                    <p>Powered by <b>IT Department</b> - U&amp;I Garments (Private) limited.</p>
                }
                @*<label class="switch"><input id="button" type="checkbox" checked><span class="slider round"></span></label>*@
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $(".content1").toggleClass("active");
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
